# Part 0: Creating SQL Database

In this notebook, I will be cleaning up the Nets tickets data and uploading it to a MySQL database for speed purposes (Jupyter does not save data after you close it, and its much slower for me to load everything from excel each time + we might engineer some features that we want saved somewhere). The code is by in large the same.

In [18]:
#Importing packages
import pandas as pd
from datetime import datetime
import MySQLdb as mdb

In [2]:
#First step is to read the data. I uploaded to my AWS but you can do the same on jupyterhub
nets= pd.read_excel('nets.xlsx', 'Nets') #I usually prefer read_csv(), but read_excel lets us select sheet
location = pd.read_excel('nets.xlsx', 'Location') #Selecting Location sheet

In [3]:
#Preview of nets_data as a dataframe. Notice we have no index right now (column far left is 0,1,2,... digits)
nets.head(3)

,PC,Invoice Date,Team,Opponent,EventDate,Section,Row,BegSeat,EndSeat,Qty,Cost,Revenue,Profit,Margin,Channel,Vendor,Ticket Type,Status,Sale (0Y/1N)
0,1,2016-08-17 21:02:46.293,Brooklyn Nets,Cleveland Cavaliers,2017-01-06,225,19,16.0,18.0,3.0,54.0,391.68,337.68,0.862132,StubHub,DSE - Brooklyn Nets (New),Seasons,Sold,0.0
1,1,2016-08-21 19:15:20.103,Brooklyn Nets,New York Knicks,2016-10-20,207,21,9.0,10.0,2.0,0.0,72.70,72.70,1.000000,Ticketmaster,DSE - Brooklyn Nets (New),Seasons,Sold,0.0
2,1,2016-08-22 09:03:44.093,Brooklyn Nets,New York Knicks,2016-10-20,223,22,5.0,6.0,2.0,0.0,45.96,45.96,1.000000,Ticketmaster,DSE - Brooklyn Nets (New),Seasons,Sold,0.0

In [4]:
#Preview of location_data
location.head(3)

  Concat      AA   Tier     Location Detail           Full Loc Parent PC
0    1_1  Non-AA  Lower  Light Green  Row 1  Light Green-Row 1         N
1    1_2  Non-AA  Lower  Light Green  Row 2  Light Green-Row 2         N
2    1_3  Non-AA  Lower  Light Green  Row 3  Light Green-Row 3         Q

In [5]:
#Check out the data types in nets_data, useful when we begin manipulating stuff
nets.dtypes

PC                      object
Invoice Date    datetime64[ns]
Team                    object
Opponent                object
EventDate       datetime64[ns]
Section                 object
Row                     object
BegSeat                float64
EndSeat                float64
Qty                    float64
Cost                   float64
Revenue                float64
Profit                 float64
Margin                 float64
Channel                 object
Vendor                  object
Ticket Type             object
Status                  object
Sale (0Y/1N)           float64
dtype: object

In [6]:
nets.shape

(62993, 19)

In [7]:
location.dtypes

Concat       object
AA           object
Tier         object
Location     object
Detail       object
Full Loc     object
Parent PC    object
dtype: object

## Step 0.1: Creating indices/instances for nets data

The first step is to create indices for nets table. We need some unique labels for querying later on. Also a great way to check duplicates and get a sense of the data.

In [8]:
nets_data = nets
nets_data = nets_data.dropna(axis=0, how = 'all')

In [9]:
#define a function to create our instances. It's cleaner to define functions rather than for-loop everything
#To create a unique instance, we need Date + Seat Position, which will never repeat.
#lambda x sets each row on the column as x, then applies the strfttime method. Just imagine the code moving
#down the column one by one and converting the date to string. 
#Trying to format the instance like "06/01/2017_225s_19r"

def instance_maker(date, section, row, beg, end):
    d = date.apply(lambda x: datetime.strftime(x, '%d/%m/%Y')) 
    sec = section.apply(str) #similar logic as above, just simplier
    row = row.apply(str)
    beg = beg.apply(str)
    end = end.apply(str)
    instance = d + "_" + sec + "/" + row + "/" + beg + "/" + end #add our formated columns together
    return instance

In [10]:
#Use our function here to create the index column
#Then set that column as the index (honestly not necessary for SQL, but might as well for clarity)
nets_data['instance'] = instance_maker(nets_data['EventDate'], nets_data['Section'], nets_data['Row'],
                                      nets_data['BegSeat'], nets_data['EndSeat'])
#nets_data.set_index('instance', inplace = True) #inplace = True just tells python not to make a new df, and edit current one

nets_data = nets_data.drop('Status', 1) #Drop status column since we converted to binary already
nets_data = nets_data.drop('Team', 1) #All the games are Nets
nets_data = nets_data.reset_index(drop=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [11]:
nets_data.shape #making sure no row was lost due to a mistake

(62990, 18)

## Step 0.2 Clean up location key data

**IMPORTANT:** Ignore location key for now, might have to do some regex. The 'detail' gives a range of seats + Parent PC to match; use regex to get the range + if conditions for single value ones.

In [12]:
location_data = location #make a copy for convenience

In [13]:
location_data = location_data.drop(location_data[location_data['AA'] == 'Kill'].index)
location_data = location_data.drop(location_data[location_data['Parent PC'] == 6].index) #do it this way
location_data = location_data.drop(location_data[location_data['Parent PC'] == 7].index) #because there is string
location_data = location_data.drop(location_data[location_data['Parent PC'] == 8].index) #nets data set does not
location_data = location_data.drop(location_data[location_data['Parent PC'] == 9].index) #have these numbers
location_data = location_data.dropna()
location_data = location_data.reset_index(drop=True)

In [14]:
location_data.tail(5)

         Concat     AA   Tier Location Detail       Full Loc Parent PC
1099  201SR_GA1  SR-GA  SR-GA    SR-GA  SR-GA  Standing Room         5
1100  215SR_GA1  SR-GA  SR-GA    SR-GA  SR-GA  Standing Room         5
1101  217SR_GA1  SR-GA  SR-GA    SR-GA  SR-GA  Standing Room         5
1102  231SR_GA1  SR-GA  SR-GA    SR-GA  SR-GA  Standing Room         5
1103    HCL_GA1  SR-GA  SR-GA    SR-GA  SR-GA  Standing Room         5

## Step 0.3: Upload dataframes to MySQL database

In [19]:
#Connecting to MySQL database
con = mdb.connect(host = 'localhost', 
                  user = 'root',
                  passwd = '<password>', 
                  charset='utf8', use_unicode=True);

In [20]:
# Run a query to create a database that will hold the data
db_name = 'data_mining'
create_db_query = "CREATE DATABASE IF NOT EXISTS {db} DEFAULT CHARACTER SET 'utf8'".format(db=db_name)

# Create a database
cursor = con.cursor()
cursor.execute(create_db_query)
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: Warning: (1007, "Can't create database 'data_mining'; database exists")
  import sys

In [21]:
#Create a table for Trending_Descriptions (static data)
cursor = con.cursor()
table_name = 'nets_tickets'
# Create a table
# The {db} and {table} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {db}.{table} 
                                (instance varchar(250),
                                pc varchar(250), 
                                invoice_date datetime,
                                opponent varchar(250),
                                event_date datetime,
                                section varchar(250),
                                row varchar(250),
                                begseat int,
                                endseat int,
                                quantity int,
                                cost decimal(10,2),
                                revenue decimal(10,2),
                                profit decimal(10,2),
                                margin decimal(10,2),
                                channel varchar(250),
                                vendor varchar(250),
                                ticket_type varchar(250),
                                sold int,
                                PRIMARY KEY(instance)
                                )'''.format(db=db_name, table=table_name)

cursor.execute(create_table_query)
cursor.close()

In [64]:
#Create a table for Trending_Descriptions (static data)
cursor = con.cursor()
table_name = 'location_key'
# Create a table
# The {db} and {table} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {db}.{table} 
                                (concat varchar(250),
                                parent_pc varchar(250),
                                aa varchar(250), 
                                tier varchar(250),
                                location varchar(250),
                                detail varchar(250),
                                full_loc varchar(250),
                                PRIMARY KEY(concat)
                                )'''.format(db=db_name, table=table_name)

cursor.execute(create_table_query)
cursor.close()

In [22]:
#Creating description table and fetch data 
cursor = con.cursor()
table_name = 'nets_tickets'

query_template = '''INSERT IGNORE INTO {db}.{table}(instance,
                                                    pc, 
                                                    invoice_date,
                                                    opponent,
                                                    event_date,
                                                    section,
                                                    row,
                                                    begseat,
                                                    endseat,
                                                    quantity,
                                                    cost,
                                                    revenue,
                                                    profit,
                                                    margin,
                                                    channel,
                                                    vendor,
                                                    ticket_type,
                                                    sold) 
                                                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,
                                                    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''.format(db=db_name, table=table_name)

cursor = con.cursor()

for i in range(len(nets_data)):
    instance = nets_data['instance'].loc[i]
    pc = nets_data['PC'].loc[i]
    invoice_date = nets_data['Invoice Date'].loc[i]
    opponent = nets_data['Opponent'].loc[i]
    event_date = nets_data['EventDate'].loc[i]
    section = nets_data['Section'].loc[i]
    row = nets_data['Row'].loc[i]
    begseat = nets_data['BegSeat'].loc[i]
    endseat = nets_data['EndSeat'].loc[i]
    quantity = nets_data['Qty'].loc[i]
    cost = nets_data['Cost'].loc[i]
    revenue = nets_data['Revenue'].loc[i]
    profit = nets_data['Profit'].loc[i]
    margin = nets_data['Margin'].loc[i]
    channel = nets_data['Channel'].loc[i]
    vendor = nets_data['Vendor'].loc[i]
    ticket_type = nets_data['Ticket Type'].loc[i]
    sold = nets_data['Sale (0Y/1N)'].loc[i]
    
    query_parameters = (instance, pc, invoice_date, opponent, event_date, section, row, begseat, endseat, quantity,
                   cost, revenue, profit, margin, channel, vendor, ticket_type, sold)

    cursor.execute(query_template, query_parameters)

con.commit()
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:51: Warning: (1265, "Data truncated for column 'margin' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:51: Warning: (1265, "Data truncated for column 'revenue' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:51: Warning: (1265, "Data truncated for column 'profit' at row 1")
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:51: Warning: (1265, "Data truncated for column 'cost' at row 1")

In [65]:
#Creating description table and fetch data 
cursor = con.cursor()
table_name = 'location_key'

query_template = '''INSERT IGNORE INTO {db}.{table}(concat,
                                                    parent_pc, 
                                                    aa,
                                                    tier,
                                                    location,
                                                    detail,
                                                    full_loc) 
                                                    VALUES (%s, %s, %s, %s, %s, %s, %s)'''.format(db=db_name, table=table_name)

cursor = con.cursor()

for i in range(len(location_data)):
    concat = location_data['Concat'].loc[i]
    parent_pc = location_data['Parent PC'].loc[i]
    aa = location_data['AA'].loc[i]
    tier = location_data['Tier'].loc[i]
    location = location_data['Location'].loc[i]
    detail = location_data['Detail'].loc[i]
    full_loc = location_data['Full Loc'].loc[i]
  
    query_parameters = (concat, parent_pc, aa, tier, location, detail, full_loc)

    cursor.execute(query_template, query_parameters)

con.commit()
cursor.close()